@using Microsoft.IdentityModel.Tokens
@using WebSite.Core.Utility
@model WebSite.DataLayer.Entities.RealEstate.RealEstateProject
@{
    ViewData["Title"] = Model!.Title;
    ViewData["MetaDescription"] = Model.Title;
    ViewData["MetaOgTitle"] = Model.Title;

    ViewData["MetaOgDescription"] = Model.Summary!;
    ViewData["MetaOgUrl"] = "https://dreamland2000.ir/realestate/" + Model.Id;

    ViewData["MetaOgImage"] = "https://dreamland2000.ir/upload/realestate/thumb/" + Model.Photo;
    ViewData["MetaOgImageUrl"] = "https://dreamland2000.ir/upload/realestate/thumb/" + Model.Photo;
    ViewData["MetaOgImageAlt"] = Model.Title;
    ViewData["MetaOgImageTitle"] = Model.Title;
}

<div class="featured_slick_gallery gray">
    <div class="featured_slick_gallery-slide">
        <div class="featured_slick_padd">
            <a href="/upload/realestate/@Model.Photo" class="mfp-gallery">
                <img src="/upload/realestate/@Model.Photo" class="img-fluid mx-auto" alt="@Model.Title" style="height:400px" />
            </a>
        </div>
        @foreach (var item in Model.PhotoList!)
        {
            <div class="featured_slick_padd">
                <a href="/upload/realestate/@item.Photo" class="mfp-gallery">
                    <img src="/upload/realestate/@item.Photo" class="img-fluid mx-auto" alt="@item.Title" style="height:400px" />
                </a>
            </div>
        }

    </div>
</div>

<section class="gallery_bottom_block">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12">

                <div class="property_lexible-1">
                    <div class="pr-price-into flex-1">
                        <div class="_card_list_flex mb-2">
                            <div class="_card_flex_01">
                                <span class="_list_blickes _netork">
                                    @Model.City?.Title
                                </span>
                                <span class="_list_blickes types">
                                    @Model.Status?.Title
                                </span>
                            </div>
                        </div>
                        <h2>
                            @Model.Title
                        </h2>
                        <p>
                            @Model.ShortTitle
                        </p>
                    </div>
                    <div class="price_into_last">

                        <h2>
                            @Model.Price
                        </h2>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="gray">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-md-12 col-sm-12">


                <div class="property_block_wrap">

                    <div class="property_block_wrap_header">
                        <h4 class="property_block_title">
                            درباره پروژه
                        </h4>
                    </div>

                    <div class="block-body">
                        <p style="text-align:justify">
                            @Html.Raw(Model.Summary)
                        </p>
                    </div>

                </div>


                <div class="property_block_wrap">

                    <div class="property_block_wrap_header">
                        <h4 class="property_block_title">
                            ویژگی ها
                        </h4>
                    </div>

                    <div class="block-body">
                        <ul class="row p-0 m-0">
                            <li class="col-lg-4 col-md-6 mb-2 p-0">
                                <i class="fa fa-expand-arrows-alt ml-1"></i>
                                @Model.Area
                            </li>

                            <li class="col-lg-4 col-md-6 mb-2 p-0">
                                <i class="fa fa-bed ml-1"></i>
                                @Model.Room
                            </li>

                            <li class="col-lg-4 col-md-6 mb-2 p-0">
                                <i class="fa fa-bath ml-1"></i>
                                @Model.Bathroom
                            </li>
                            
                            <li class="col-lg-4 col-md-6 mb-3 p-0">
                                <i class="fa fa-building me-1"></i>
                                @Model.Location
                            </li>

                          
                        </ul>
                    </div>

                </div>

              
                @if (!Model.Iframe.IsNullOrEmpty())
                {
                    <div class="property_block_wrap">

                        <div class="property_block_wrap_header">
                            <h4 class="property_block_title">
                                موقعیت
                            </h4>
                        </div>

                        <div class="block-body">
                            <div class="map-container">
                                @Model.Iframe
                            </div>
                        </div>
                    </div>
                }


                <div class="property_block_wrap">

                    <div class="property_block_wrap_header">
                        <h4 class="property_block_title">
                            نظرات
                            @Model.CommentList!.Count
                        </h4>
                    </div>

                    <div class="block-body">
                        <div class="author-review">
                            <div class="comment-list">
                                <ul>
                                    @foreach (var item in Model.CommentList.Take(5))
                                    {
                                        <li class="article_comments_wrap">
                                            <article>
                                                <div class="article_comments_thumb">
                                                    <img src="design/user.jpg" alt="@item.Name">
                                                </div>
                                                <div class="comment-details">
                                                    <div class="comment-meta">
                                                        <div class="comment-left-meta">
                                                            <h4 class="author-name">
                                                                @item.Name
                                                            </h4>
                                                            <div class="comment-date">
                                                                @if (item.SendDate != null)
                                                                {
                                                                    @item.SendDate.Value.GregorianToPersian()
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="comment-text">
                                                        <p style="text-align:justify">
                                                            @item.Comment
                                                        </p>
                                                    </div>
                                                </div>
                                            </article>
                                        </li>
                                    }

                                </ul>
                            </div>
                        </div>
                        @if (Model.CommentList.Count() > 5)
                        {
                            <a asp-controller="RealEstateProject" asp-action="CommentList" asp-route-id="@Model.Id" class="reviews-checked">
                                نظرات بیشتر
                            </a>
                        }
                    </div>

                </div>

                @await Component.InvokeAsync(typeof(WebSite.ViewComponents.RealEstateProjectSendCommentForm), new { id = Model.Id })

            </div>

            
            <div class="col-lg-4 col-md-12 col-sm-12">

                <div class="property-sidebar">

                    @await Component.InvokeAsync(typeof(WebSite.ViewComponents.RealEstateSearch3Col))

                    @if (Model.AgentRefId != null)
                    {
                        @await Component.InvokeAsync(typeof(WebSite.ViewComponents.AgentProfile3ColByAgentId), new { id = Model.AgentRefId })
                    }

                    @await Component.InvokeAsync(typeof(WebSite.ViewComponents.RealEstateProjectLatestList3Col))

                </div>
            </div>

        </div>
    </div>
</section>
