@model WebSite.Core.ViewModel.RealEstate.RealEstateProjectListViewModel
@{
    ViewData["Title"] = "Projects";
    ViewData["MetaDescription"] = "Project introduction and pre-sale";
}

<div class="page-title" style="background:#f4f4f4 url(/english/img/slider-1.jpg);" data-overlay="5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">

                <div class="breadcrumbs-wrap position-relative z-1">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">
                            Search for projects
                        </li>
                    </ol>
                    <h2 class="breadcrumb-title">
                        The latest pre-sale projects
                    </h2>
                </div>

            </div>
        </div>
    </div>
</div>


<section class="gray pt-4">

    <div class="container">
        <div class="row m-0">
            <div class="short_wraping">
                <div class="row align-items-center">

                    <div class="col-lg-3 col-md-6 col-sm-12  col-sm-6">
                        <ul class="shorting_grid">
                            <li class="list-inline-item">
                                <a asp-controller="RealEstateProject" asp-action="Grid" title="Dreamland Property" class="active">
                                    <span class="ti-layout-grid2"></span>
                                    Grid
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a asp-controller="RealEstateProject" asp-action="List" title="Dreamland Property">
                                    <span class="ti-view-list"></span>
                                    List
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-6 col-md-12 col-sm-12 order-lg-2 order-md-3 elco_bor col-sm-12">
                        <div class="shorting_pagination">
                            <div class="shorting_pagination_laft">
                                <h5>
                                    Showing 1-24 of @Model.TotalCount results
                                </h5>
                            </div>
                            <div class="shorting_pagination_right">
                                <ul>
                                    @for (int j = 1; j <= Model.PageCount + 1; j++)
                                    {
                                        <li class="@(j == Model.CurrentPage ? "active" : "")">
                                            <a asp-controller="RealEstateProject" asp-action="Grid" asp-route-page="@j" asp-route-group="@ViewBag.GroupId" asp-route-city="@ViewBag.CityId" asp-route-type="@ViewBag.TypeId" asp-route-sort="@ViewBag.SortId" asp-route-search="@ViewBag.Search">
                                                @j
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12 order-lg-3 order-md-2 col-sm-6">
                        <div class="shorting-right">
                            <label>
                                Short By:
                            </label>
                            <div class="dropdown show">
                                <a class="btn btn-filter dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="selection">
                                        Most Rated
                                    </span>
                                </a>
                                <div class="drp-select dropdown-menu">
                                    <a class="dropdown-item" asp-controller="RealEstate" asp-action="Grid">
                                        Most Rated
                                    </a>
                                    <a class="dropdown-item" asp-controller="RealEstate" asp-action="Grid">
                                        Most View
                                    </a>
                                    <a class="dropdown-item" asp-controller="RealEstate" asp-action="Grid">
                                        News Listings
                                    </a>
                                    <a class="dropdown-item" asp-controller="RealEstate" asp-action="Grid">
                                        High Rated
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row justify-content-center">

                    @foreach (var item in Model.ProjectList!)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="property-listing property-2">

                                <div class="listing-img-wrapper">
                                    <div class="_exlio_125">
                                        @item.Status?.Title
                                    </div>
                                    <div class="list-img-slide">
                                        <div class="click">
                                            <div>
                                                <a asp-controller="RealEstateProject" asp-action="Details" asp-route-id="@item.Id" title="@item.Title">
                                                    <img src="/upload/realestate/thumb/@item.Photo" class="img-fluid mx-auto" alt="@item.Title" />
                                                </a>
                                            </div>
                                            @foreach (var p in item.PhotoList!)
                                            {
                                                <div>
                                                    <a asp-controller="RealEstateProject" asp-action="Details" asp-route-id="@item.Id" title="@item.Title">
                                                        <img src="/upload/realestate/thumb/@p.Photo" class="img-fluid mx-auto" alt="@item.Title" />
                                                    </a>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>

                                <div class="listing-detail-wrapper">
                                    <div class="listing-short-detail-wrap">
                                        <div class="_card_list_flex mb-2">
                                            <div class="_card_flex_01">
                                                <span class="_list_blickes _netork">
                                                    @item.City?.Title
                                                </span>

                                                <span class="_list_blickes types">
                                                    Project
                                                </span>

                                            </div>
                                            <div class="_card_flex_last">
                                                <div class="prt_saveed_12lk">
                                                    <label class="toggler toggler-danger">
                                                        <input type="checkbox">
                                                        <i class="ti-heart"></i>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="_card_list_flex">
                                            <div class="_card_flex_01">
                                                <h4 class="listing-name verified" style="height:40px">
                                                    <a asp-controller="RealEstateProject" asp-action="Details" asp-route-id="@item.Id" title="@item.Title" class="prt-link-detail">
                                                        @item.Title
                                                    </a>
                                                </h4>

                                                <p class="mt-2">
                                                    <div class="inc-fleat-icon">
                                                        <img src="/website/img/move.svg" width="13" alt="@item.Title" />
                                                    </div>
                                                    @item.Area
                                                </p>

                                                <p class="mt-2">
                                                    @item.Price
                                                </p>

                                                <p class="mt-2">
                                                    <div class="inc-fleat-icon">
                                                        <img src="/website/img/bed.svg" width="13" alt="@item.Title" />
                                                    </div>
                                                    @item.Room
                                                </p>

                                                <p class="mt-2">
                                                    <div class="inc-fleat-icon">
                                                        <img src="/website/img/bathtub.svg" width="13" alt="@item.Title" />
                                                    </div>
                                                    @item.Bathroom
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="listing-detail-footer">
                                    <div class="footer-first">
                                    </div>
                                    <div class="footer-flex">
                                        <a asp-controller="RealEstateProject" asp-action="Details" asp-route-id="@item.Id" title="@item.Title" class="prt-view">
                                            View Detail
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }


                </div>
                
            </div>


        </div>
    </div>
</section>

