@model IEnumerable<WebSite.DataLayer.Entities.Blog.Blog>
<div class="single_widgets widget_thumb_post">
    <h4 class="title">
        Últimos artículos
    </h4>
    <hr/>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <span class="left">
                    <img src="/upload/blog/thumb/@item.Photo" alt="@item.Title" class="">
                </span>
                <span class="right">
                    <a class="feed-title" asp-controller="Blog" asp-action="Details" asp-route-id="@item.Id" title="@item.Title">
                        @item.Title
                    </a>
                    <span class="post-date">
                        <i class="ti-calendar"></i>
                        @if (item.BlogDate != null)
                        {
                            @item.BlogDate.Value.ToShortDateString()
                        }
                    </span>
                </span>
            </li>
        }
       
    </ul>
</div>