@model IEnumerable<WebSite.DataLayer.Entities.Service.Service>
@{
    ViewData["Title"] = "خدمات دریملند";
    ViewData["MetaDescription"] = "خدمات گروه مشاوران دریملند";
}

<div class="page-title" style="background:#f4f4f4 url(/design/banner/header03.jpg);" data-overlay="5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">

                <div class="breadcrumbs-wrap">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">
                            خدمات ما
                        </li>
                    </ol>
                    <h2 class="breadcrumb-title">
                        خدمات گروه مشاوران دریملند 2000
                    </h2>
                </div>

            </div>
        </div>
    </div>
</div>
<section class="gray">

    <div class="container">

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="grid_blog_box">
                        <a asp-controller="Service" asp-action="Details" asp-route-id="@item.Id" title="@item.Title">
                            <div class="gtid_blog_thumb">
                                <img src="/upload/service/thumb/@item.Photo" class="img-fluid" alt="@item.Title">
                            </div>
                        </a>
                        <div class="blog-body">
                            <h4 class="bl-title">
                                <a asp-controller="Service" asp-action="Details" asp-route-id="@item.Id" title="@item.Title">
                                    @item.Title
                                </a>
                                <span class="latest_new_post hot">
                                    @item.Group?.Title
                                </span>
                            </h4>
                            <p style="text-align:justify;height:80px">
                                @if (item.Summary != null && item.Summary.Length > 120)
                                {
                                    @item.Summary.Substring(0, 119)
                                    <span> . . .</span>
                                }
                                else
                                {
                                    @item.Summary
                                }
                            </p>
                        </div>

                    </div>
                </div>

            }
        </div>
    </div>

</section>

